body {
  background-color: #fdfdfd;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

.wrapper {
  background-image: url("/assets/img/warm-bg.jpg");
  background-clip: cover;
  background-repeat: no-repeat;

  margin-top: 30px;
  margin-bottom: 20px;
  width: 350px;
  height: auto;
  background-color: purple;
  color: #ffffff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  box-shadow: 3px 5px 3px 5px #6d6d6d;
}

.input-form {
  margin-top: 30px;
}

.input-form input {
  padding: 10px;
  border: none;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  outline: none;
}

.city-input {
  text-indent: 10px;
  margin-right: 10px;
}

.city-submit {
  background-color: #ffffff;
  color: purple;
  font-weight: bold;
}

.info {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.max-min-temp {
  width: 70%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

.info h1 {
  font-size: 70px;
  margin-bottom: 30px;
}

.info h2 {
  font-size: 40px;
}

.info h3 {
  margin-bottom: 70px;
}
